@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
        url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-normal-grey-button: #766357;
  --basic-select-grey-button: #604E43;
  --basic-push-grey-button: #503E33;
  --basic-normal-blue-button: #81B3D2;
  --basic-select-blue-button: #669EC0;
  --basic-push-blues-button: #5496BD;
  --basic-normal-grey-input: #F2F2F2;
  --basic-select-grey-input: #EBEBEB;
  --basic-select-blue-nav: #81B3D2;
  --basic-natural-white: #EEEEEE;
  --basic-natural-grey: #E5E5E5;
  --basic-text-grey: #333333;
  --basic-text-light-grey: #666666;
  --basic-normal-grey-rating: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-body-background: ##F2F2F2;
  --basic-white-opacity: rgba(255, 255, 255, .3);
  --basic-toggle-shadow: rgba(171,171,171, .3);
  --basic-black-opacity: rgba(0, 1, 1, 0.2);
  --basic-black-opacity2: rgba(0, 1, 1, 0.15);
  --basic-white-opacity9: rgba(255, 255, 255, 0.9);
  --basic-grey-nude: #ababab;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-body-background);
  text-align: center;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page-shadow {
  box-shadow: 0px 5px 15px var(--basic-black-opacity);
  width: 1200px;
  margin: 0 auto;
}

.page-grid {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1200px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  z-index: 1;
  background-color: var(--basic-white)
}
.navigation-container {
  width: 1200px;
  height: 56px;
}

.site-navigation-list {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 56px;
  list-style: none;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0 auto;
  padding: 0;
  }

.site-navigation-list a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  }

.site-navigation-list li {
  width: 100%;
  display: block;
  margin: 0;
  }

.site-navigation-list-info {
  text-align: left;
  padding-left: 70px;
  }

.site-navigation-list-foto {
  text-align: left;
  }

.site-navigation-list-map {
  text-align: right;
  }

.site-navigation-list-hotel {
  text-align: right;
  padding-right: 70px;
  box-sizing: border-box;
  }

.site-navigation-list a {
  color: var(--basic-black);
}

.site-navigation-list a:hover {
  color: var(--basic-select-blue-nav);
}

.site-navigation-list a:active {
  opacity: 0.3;
}
.site-navigation-list-foto {
  text-align: left;
}

.navigation-logo {
  position: relative;
  top: -56px;
  width: 138px;
  height: 70px;
  z-index: 1;
}

.main-container {
  background-color: var(--basic-white);
  width: 1200px;
  grid-row: 2 / 5;
  grid-column: 2 / 3;
  min-height: 875px;
}

.main-logo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 209px;
  background-image: url(../img/logo-back.jpg);
  width: 1200px;
  height: 725px;
}

/* .main-logo-backround {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
} */
.main-logo-picture {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-image: url(../img/welcome.svg);
  width: 456px;
  height: 350px;
  background-repeat: no-repeat;
}

.main-logo-title {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin: auto;
}

.main-logo-title h1 {
  font-size: 21px;
  line-height: 26px;
  width: 470px;
  height: 80px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-logo-title p {
  line-height: 26px;
  color: var(--basic-text-grey);
  font-weight: 400;
}
.feature-one {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 256px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-one-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.feature-one-title h2 {
  font-weight: 21px;
  margin: 0;
}

.feature-one-title span {
  display: block;
  font-weight: 400;
}

.feature-one-title p {
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.infrastructure-list {
  height: 330px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.infrastructure-housing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 220px;
  margin-top: 48px;
  margin-bottom: auto;
  flex-wrap: wrap;
}

.infrastructure-housing-img{
  width: 75px;
  height: 72px;
  background-image: url(../img/house.svg);
}

.infrastructure-food-img{
  width: 75px;
  height: 70px;
  background-image: url(../img/food.svg);
}

.infrastructure-souvenir-img{
  width: 64px;
  height: 77px;
  background-image: url(../img/souvenir.svg);
}

.infrastructure-housing b {
  display: block;
  font-size: 21px;
}

.infrastructure-housing p {
  color: var(--basic-text-grey);
  font-weight: 400;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 7px;
}

.infrastructure-food {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  height: 220px;
  margin-top: 48px;
  margin-bottom: auto;
}

.infrastructure-food b {
  display: block;
  font-size: 21px;
}

.infrastructure-food p {
  color: var(--basic-text-grey);
  font-weight: 400;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 7px;
}

.infrastructure-souvenir {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  height: 220px;
  margin-top: 44px;
  margin-bottom: auto;
}

.infrastructure-souvenir b {
  display: block;
  font-size: 21px;
}

.infrastructure-souvenir p {
  color: var(--basic-text-grey);
  font-weight: 400;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.feature-two {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 256px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-two-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 37px;
  padding-top: 38px;
}

.feature-two-title h2 {
  font-size: 21px;
  margin: 0;
}

.feature-two-title span {
  display: block;
  font-weight: 400;
}

.feature-two-title p {
  font-weight: 400;
  margin: 0;
}

.feature-three-four-five {
  background-color: var(--basic-natural-white);
  height: 256px;
}

.feature-three-four-five-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-three-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 155px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 47px;
  margin-bottom: 54px;
}

.feature-three-title h2 {
  font-size: 21px;
  margin: 0;
}

.feature-three-title span {
  color: var(--basic-text-grey);
  font-weight: 400;
  display: block;

}

.feature-three-title p {
  color: var(--basic-text-grey);
  font-weight: 400;
  margin: 0;
}

.feature-four-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 155px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 47px;
  margin-bottom: 54px;
}

.feature-four-title h2 {
  font-size: 21px;
  margin: 0;
}

.feature-four-title p {
  color: var(--basic-text-grey);
  font-weight: 400;
  margin: 0;
}

.feature-four-title span {
  color: var(--basic-text-grey);
  font-weight: 400;
  display: block;
}

.feature-five-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 47px;
  margin-bottom: 54px;
}

.feature-five-title h2 {
  font-size: 21px;
  margin: 0;
}

.feature-five-title p {
  color: var(--basic-text-grey);
  font-weight: 400;
  margin: 0;
}

.feature-five-title span {
  color: var(--basic-text-grey);
  font-weight: 400;
  display: block;
}

.booking {
  height: 205px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.booking h2 {
  font-size: 30px;
  line-height: 24px;
  margin-top: 56px;
}

.booking p {
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 42px;
}
.booking-window-container {
  display: grid;
  grid-template-columns: 316px 1fr 316px;
  grid-template-rows: 1f 593;
}
.booking-button-find {
  background-color: var(--basic-normal-grey-button);
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  outline: none;
  border: none;
}

.booking-button-find:hover {
  background-color: var(--basic-select-grey-button);
  outline: none;
  border: none;
}

.booking-button-find:active {
  color: var(--basic-push-grey-button);
  outline: none;
  border: none;
}

.booking-window {
  box-shadow: 0px 7px 15px var(--basic-black-opacity2);
  width: 568px;
  height: 395px;
  margin: 0 auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  background-color: var(--basic-white);
}

.booking-form {
  font: inherit;
  line-height: 26px;
  margin: 55px;
  width: 458px;
  height: 285px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.booking-form-date-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 458px;
  height: 38px;
}

.booking-form-date input{
  background-color: var(--basic-normal-grey-input);
  width: 346px;
  height: 38px;
  padding-left: 11px;
  padding-bottom: 2px;
  justify-content: flex-end;
  font-weight: 700;
  border: 2px solid var(--basic-normal-grey-input);
  box-sizing: border-box;
}

.booking-form-date input:active {
  background-color: var(--basic-select-grey-input);
  border: 2px solid var(--basic-normal-grey-input);
  box-sizing: border-box;
}

.booking-form-date input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-natural-grey);
  box-sizing: border-box;
  outline: none;
}

.booking-from-date-input {
  margin-left: 23px;
}

.booking-to-date-input {
  margin-left: 18px;
}

.booking-form-date-from {
  margin-top: 0px;
  margin-bottom: 0px;
}

.booking-to-date-from {
  margin-top: 29px;
  margin-bottom: 0px;
}

.booking-form-guests {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 458px;
  height: 38px;
  margin-bottom: 30px;
}

.booking-guests-number-from {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 229px;
  height: 38px;
  margin-top: 0px;
}

.booking-childens-number-from {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 229px;
  height: 38px;
  margin-top: 0px;
}

.booking-date-from-calendar {
  position: relative;
}

.booking-date-from-calendar-button {
  position: absolute;
  outline: none;
  border: none;
  width: 21px;
  height: 23px;
  top: -13px;
  right: 10px;
  background: url(../img/calendar.svg);
}

.booking-date-from-calendar-button:hover {
  background: url(../img/calendar-hover.svg)
}

.booking-date-from-calendar-button:active {
  background: url(../img/calendar-active.svg)
}

.booking-date-to-calendar {
  position: relative;
}

.booking-date-to-calendar-button {
  position: absolute;
  outline: none;
  border: none;
  width: 21px;
  height: 23px;
  top: -13px;
  right: 10px;
  background: url(../img/calendar.svg);
}

.booking-date-to-calendar-button:hover {
  background: url(../img/calendar-hover.svg)
}

.booking-date-to-calendar-button:active {
  background: url(../img/calendar-active.svg)
}

.booking-guests-number-from-buttons {
  position: relative;
}

.booking-guests-number-from-plus {
  position: absolute;
  outline: none;
  border: none;
  width: 11px;
  height: 11px;
  top: -4px;
  right: 16px;
  background: url(../img/plus.svg);
}

.booking-guests-number-from-plus:hover {
  background: url(../img/plus-hover.svg)
}

.booking-guests-number-from-plus:active {
  background: url(../img/plus-active.svg)
}

.booking-guests-number-from-minus {
  position: absolute;
  outline: none;
  border: none;
  width: 12px;
  height: 3px;
  top: 0px;
  right: 92px;
  background: url(../img/minus.svg);
}

.booking-guests-number-from-minus:hover {
  background: url(../img/minus-hover.svg)
}

.booking-guests-number-from-minus:active {
  background: url(../img/minus-active.svg)
}

.booking-childens-number-from-buttons {
  position: relative;
}

.booking-childens-number-from-plus {
  position: absolute;
  outline: none;
  border: none;
  width: 11px;
  height: 11px;
  top: -4px;
  right: 12px;
  background: url(../img/plus.svg);
}

.booking-childens-number-from-plus:hover {
  background: url(../img/plus-hover.svg)
}

.booking-childens-number-from-plus:active {
  background: url(../img/plus-active.svg)
}

.booking-childens-number-from-minus {
  position: absolute;
  outline: none;
  border: none;
  width: 12px;
  height: 3px;
  top: 0px;
  right: 88px;
  background: url(../img/minus.svg);
}

.booking-childens-number-from-minus:hover {
  background: url(../img/minus-hover.svg)
}

.booking-childens-number-from-minus:active {
  background: url(../img/minus-active.svg)
}

.booking-childens-number-from label{
  margin-left: 50px;
}

.booking-guests-number-from input {
  background-color: var(--basic-normal-grey-input);
  border: 2px solid var(--basic-normal-grey-input);
  width: 114px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  box-sizing: border-box;
  margin-left: 38px;
  margin-top: 2px;
  margin-right: 3px;
  padding-bottom: 2px;
}

.booking-guests-number-from input:active {
  background-color: var(--basic-select-grey-input);
  border: 2px solid var(--basic-select-grey-input);
  box-sizing: border-box;
}

.booking-guests-number-from input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-natural-grey);
  box-sizing: border-box;
  outline: none;
}

.booking-childens-number-from input {
  background-color: var(--basic-normal-grey-input);
  border: 2px solid var(--basic-normal-grey-input);
  width: 114px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.booking-childens-number-from input:active {
  background-color: var(--basic-select-grey-input);
  border: 2px solid var(--basic-select-grey-input);
  box-sizing: border-box;
}

.booking-childens-number-from input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-normal-grey-input);
  box-sizing: border-box;
  outline: none;
}

.booking-form-find-button {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-normal-blue-button);
  font: inherit;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 54;
  width: 458px;
  height: 58px;
  outline: none;
  border: none;
}

.booking-form-find-button:hover {
  background-color: var(--basic-select-blue-button);
  color: var(--basic-white);
  outline: none;
  border: none;
}

.booking-form-find-button:active {
  background-color: var(--basic-push-blues-button);
  color: var(--basic-white);
  outline: none;
  border: none;
}

.booking-map {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  height: 593px;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
  width: 1200px;
  background: var(--basic-white-opacity9);
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  z-index: 1;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  margin-left: 72px;
}
.footer-contacts-hashtag {
  margin-top: 24px;
  margin-bottom: 9px;
}

.footer-contacts-tel {
  margin-top: 5px;
  }

.footer-contacts-tel a {
  color: inherit;
}

.footer-contacts-tel a:hover,
.footer-contacts-tel a:focus {
  text-decoration: none;
}

.social-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-normal-blue-button);
}

.twitter {
  margin-right: 6px;
}

.youtube {
  margin-left: 6px;
}

.twitter a {
  width: 17px;
  height: 17px;
}

.facebook a {
  width: 12px;
  height: 22px;
}

.youtube a {
  width: 20px;
  height: 16px;
}

.social-button {
  background-color: var(--basic-normal-blue-button);
}

.social-button:hover {
  background-color: var(--basic-select-blue-button);
}

.social-button:active {
  background-color: var(--basic-push-blues-button);
}

.social-button img:active {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 26px;
  margin-right: 75px;
  margin-bottom: 3px;
}

.footer-copyright p {
  margin-bottom: 7px;
  margin-right: 8px;
}

.footer-copyright-img {
  width: 115px;
  height: 41px;
}

.footer-copyright-img:hover .footer-copyright-svg path {
  fill: #81B3D2;
}

.footer-copyright-img:active .footer-copyright-svg path {
  fill: #BDBBBC;
}

.main-catalog-fildset {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  background-image: url(../img/background.jpg);
  width: 1200px;
  height: 217px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main-catalog-fildset-background-picture {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.main-catalog-form {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 255px 255px auto;
  grid-template-rows: 1fr;
}

.main-catalog-fildset-infrastructure {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border: 0;
  text-align: left;
  z-index: 1;
  padding-left: 72px;
}

.main-catalog-fildset-infrastructure-name {
  font-size: 16px;
  padding-top: 26px;
  padding-bottom: 22px;
}

.main-catalog-fildset-infrastructure-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 110px;
  padding-bottom: 20px;
}

.main-catalog-fildset-type {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border: 0;
  text-align: left;
  z-index: 1;
  padding-left: 72px;
}

.main-catalog-fildset-type-name {
  font-size: 16px;
  padding-top: 26px;
  padding-bottom: 22px;
}

.main-catalog-fildset-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 110px;
  padding-bottom: 20px;
}

.main-catalog-fildset-infrastructure-list-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-catalog-fildset-infrastructure-list-flex label,
.main-catalog-fildset-infrastructure-list-flex:hover label {
  position: relative;
  display: inline-block;
  padding-left: 27px;
}

.main-catalog-fildset-infrastructure-list-flex label::before,
.main-catalog-fildset-infrastructure-list-flex:hover label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  left: -15px;
}

.main-catalog-fildset-infrastructure-list-flex input[type="checkbox"]:checked + label::before,
.main-catalog-fildset-infrastructure-list-flex:hover input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox {
  opacity: 0;
}

.main-catalog-fildset-price-form {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  z-index: 1;
  margin-right: 53px;
  margin-left: auto;
}

.main-catalog-fildset-price {
  display: flex;
  flex-direction: column;
  border: 0;
  margin-top: 27px;
  margin-bottom: 1px;
}

.main-catalog-fildset-price-name {
  font-size: 16px;
  margin-right: auto;
  margin-bottom: 5px;
}

.main-catalog-fildset-price-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.main-catalog-fildset-price-list-field {
  display: flex;
  width: 158px;
  height: 34px;
  justify-content: center;
  align-items: center;
}

.main-catalog-fildset-price-list-field input {
  border: none;
  background: none;
  color: var(--basic-white);
  text-align: center;
  height: 20px;
  margin-bottom: 2px;
  margin-left: 6px;
}

.main-catalog-fildset-price-list-field-dash input {
  border-right: 2px solid var(--basic-white);
  padding-right: 4px;

}

.range-controls {
  position: relative;
  height: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  width: 310px;
  background: var(--basic-white-opacity);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 1px;
  left: 0;
  width: 19px;
  height: 19px;
  padding: 0;
  display: block;
  outline: none;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-nude);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle:hover {
  top: 0px;
  right: 4px;
  width: 23px;
  height: 23px;
  border: 9px solid var(--basic-white);
  background-color: var(--basic-grey-nude);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toggle-shadow);
}

.range-controls .toggle-min {
  left: 14px;
}

.range-controls .toggle-max {
  left: 266px;
}

.main-catalog-fildset-confirm-button {
  margin-top: 5px;
  margin-right: 20px;
  width: 137px;
  height: 36px;
  border: 2px solid white;
  font: inherit;
  color: var(--basic-white);
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  padding-bottom: 20;
}

.main-catalog-fildset-confirm-button:hover {
  background: no transparent;
  background-color: var(--basic-white);
  color: black;
}

.main-catalog-sorting-container {
  border-bottom: 1px solid var(--basic-natural-grey);
  display: grid;
  grid-template-columns: 236px 360px 1fr;
  grid-template-rows: 86px;
}

.main-catalog-quantity-findings {
  font-size: 21px;
  line-height: 26px;
  margin-top: 30px;
  margin-left: 72px;
  margin-right: 46px;
}

.main-catalog-sorting-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}
.main-catalog-sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.main-catalog-sorting-price {
  text-decoration: none;
  font: inherit;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-right: 0px;
  padding-left: 0px;
  outline: none;
  border: 0;
  color: var(--basic-blue);
  margin-left: 13px;
  margin-bottom: 5px;
}

.main-catalog-sorting-price:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.main-catalog-sorting-price:active {
  color: var(--basic-black);
  opacity: 1;
}

.main-catalog-sorting-type {
  text-decoration: none;
  font: inherit;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  width: 55px;
  height: 19px;
  margin-bottom: 8px;
  margin-right: 4px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.3;
  outline: none;
  border: 0;
  border-bottom: 1px dotted var(--basic-blue);
}

.main-catalog-sorting-type:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.main-catalog-sorting-type:active {
  color: var(--basic-black);
  border: 0;
  opacity: 1;
}

.main-catalog-sorting-rating {
  text-decoration: none;
  font: inherit;
  background: transparent;
  text-transform: uppercase;
  height: 19px;
  margin-bottom: 8px;
  margin-right: 7px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.3;
  outline: none;
  border: 0;
  border-bottom: 1px dotted var(--basic-blue);
}

.main-catalog-sorting-rating:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.main-catalog-sorting-rating:active {
  color: var(--basic-black);
  opacity: 1;
  border: 0;
}

.main-catalog-sorting-icons {
  margin-left: auto;
  margin-right: 73px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.main-catalog-sorting-up {
  display: block;
  text-decoration: none;
  outline: none;
  margin-top: 6px;
  margin-right: 12px;
  background-color: var(--basic-white);
  border: 0;
  background-image: url(../img/icon-up-normal.svg);
  width: 11px;
  height: 10px;
}

.main-catalog-sorting-up:hover {
  background-image: url(../img/icon-up-hover.svg);
}

.main-catalog-sorting-up:active {
  background-image: url(../img/icon-up-active.svg);
}

.main-catalog-sorting-down {
  display: block;
  text-decoration: none;
  outline: none;
  background-color: var(--basic-white);
  margin-top: 5px;
  border: 0;
  background-image: url(../img/icon-down-active.svg);
  width: 11px;
  height: 10px;
}

.main-catalog-sorting-down:hover {
  background-image: url(../img/icon-down-hover.svg);
}

.main-catalog-sorting-down:active {
  background-image: url(../img/icon-down-active.svg);
}


.main-catalog-result-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 150px 150px 150px;
}

.main-catalog-result-list-one {
  border-bottom: 1px solid var(--basic-natural-grey);
}

.main-catalog-result-list-two {
  border-bottom: 1px solid var(--basic-natural-grey);
}

.main-catalog-result-list-three {
  border-bottom: 1px solid var(--basic-natural-grey);
}

.main-catalog-result-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 73px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}


.main-catalog-result-list-description-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 6px;
  margin-left: 29px;
}

.main-catalog-result-list-name {
  text-align: left;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}

.main-catalog-result-list-name:hover {
  color: var(--basic-blue);
  }

.main-catalog-result-list-name:active {
  color: (var(--basic-black));
  opacity: 0.3;
  }

.main-catalog-result-list-img {
  margin-top: 5px;
}

.main-catalog-result-list-type {
  text-align: left;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 15px;
}

.main-catalog-result-list-price {
  text-align: left;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 15px;
}

.main-catalog-result-list-details {
  width: 110px;
  height: 27px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: var(--basic-normal-blue-button);
  color: var(--basic-white);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-catalog-result-list-details:hover {
  background-color: var(--basic-select-blue-button);
}

.main-catalog-result-list-details:active {
  background-color: var(--basic-push-blues-button);
  color: var(--basic-white-opacity);
}

.main-catalog-result-list-booking {
  width: 142px;
  height: 27px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: var(--basic-normal-grey-button);
  color: var(--basic-white);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-catalog-result-list-booking:hover {
  background-color: var(--basic-select-grey-button);
}

.main-catalog-result-list-booking:active {
  background-color: var(--basic-push-grey-button);
  color: var(--basic-white-opacity);
}

.main-catalog-result-list-rating-container {
  width: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 73px;
  padding-top: 5px;
}

.main-catalog-result-list-stars {
  margin-bottom: 5px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-repeat: space;
}

.main-catalog-result-list-stars-number-four {
  width: 88px;
  height: 20px;
}

.main-catalog-result-list-stars-number-three {
  width: 63px;
  height: 20px;
}

.main-catalog-result-list-stars-number-two {
  width: 40px;
  height: 20px;
}

.main-catalog-result-list-rating {
  color: var(--basic-text-light-grey);
  background: var(--basic-normal-grey-rating);
  font-weight: 400;
  width: 110px;
  height: 27px;
  margin-top: 40px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
